
body {
	width: 100%;
	margin: 0;
	background-color: #2c2c2c;
	font-family: "Montserrat", sans-serif, "aviner";
}

/*..............Header.................*/

.header {
	justify-content: space-between;
	align-items: center;
	background-color: #2c2c2c;
	color: #fff;
	padding: 0px 16px 0px 16px;
	/* border: 1px solid white; */
}
.signin a {
	text-decoration: none;
	color: white;
	margin-left: 80%;
	position: absolute;
	top: 3%;
}
.signup a {
	text-decoration: none;
	color: white;
	top: 3%;
	position: absolute;
	margin-left: 90%;
}

img.dashboard-img {
    width: 481px;
	margin: 1%;
}


.profile-name {
	display: flex;
}
.profile-name p {
	margin-top: -2%;
	margin-left: 85%;
}
.profile-name img {
	text-decoration: none;
	color: white;
	top: 4%;
	position: absolute;
	margin-left: 1%;
	width: 15px;

}

/*................Content................*/

.content {
	color: white;
	font-family: Avenir;
	position: absolute;
	width: 100%;
	background-color: #5D5B5B;
}
.content .landingpage {
	margin-top: 5%;

	position: relative;
	
}
.content .landingpage .text-part {
	text-align: center;
}
.content .landingpage .first-text {
	font-weight: bold;
	width: 55%;
	font-size: 40px;
	color: white;
}
.content .landingpage .sec-text {
	font-size: 24px;
	color: white;
}
.form-container {
	display: flex;
	flex-direction: column;
	background-color: #5D5B5B;
	padding: 30px 60px;
	margin-bottom: auto;
	border-radius: 8px;
	margin-top: 10%;
	width: 30%;
}
form {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin-top: 5%;
}
form label {
	margin: 0.5rem;
	color: white;
}
form input {
	background-color:#5D5B5B;
	border-radius: 0.5rem;
	border: 1px solid;
	outline: none;
	height: 3rem;
	padding: 0 1rem;
	color: #f8f5f5;
}
form .input-pswd input {
	background-color: #707070;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	height: 3rem;
	padding: 0 1rem;
	color: #f8f5f5;
	width: 90%;
}

/* .input-pswd::after { 
	content: "";
    position: absolute;
    height: 1px;
    background: #ffffff80;
    width: 21%;
    left: 16%;
    transform: translateX(-50%);
} */ */


.dashboard-items h2{
	color: white;
}
.signup-btn {
	height: 42px;
	border-radius: 8px;
	border: 1px solid #707070;
	font-size: inherit;
	font-weight: bold;
	margin: 24px auto 12px auto;
	color: #2c2c2c;
	background-color: #ffffff;
	transition: 0.2s ease-out;
	cursor: pointer;
	padding: 0 38px;
}

.landing-img {
	position: relative;
	width: 850px;
	right: 32px;
	top: 150px;
}
.details {
    position: absolute;
    width: 800px;
    right: 32px;
    top: 150px;
}
.signup-part{
         text-align: left;
}

.dashboard-items {
    background-color: black;
	margin-left: 2%;
	display: flex;
}
.Content-1 {
    position: absolute;
    margin: 0;
    background-color: black;
}
.Content-1 h2 {
    margin-left: 2%;
    
}

.Prof-name {
    display: flex;
    float: right;
    margin-top: 1%;
}





/*...........Dashboard...............*/

.content-wrapper {
	display: flex;
	min-height: calc(100vh - 61px);
}
.sidebar {
	width: 250px;
	background-color: #2c2c2c;
}


.sidebar ul {
	padding-left: 0%;
	margin: 0%;
}
.sidebar ul li {
	list-style: none;
	padding: 16px 10px;
	display: flex;
	align-items: center;
}
.sidebar ul a {
	text-decoration: none;
	color: white;
}
.sidebar ul li img {
	width: 40px;
	aspect-ratio: auto 40 / 40;
	height: 40px;
}
.sidebar ul li span {
	font-size: 20px;
	margin-left: 8px;
}
.active-sidebar {
	background-color: #ffffff29;
	font-weight: bold;
}
.content-body {
    width: 100%;
    background-color: black;
    padding: 36%;
    padding-bottom: 12%;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.profile .container-form {
	display: flex;
	flex-direction: column;
	width: 126%;
	max-width: 480px;
	margin-bottom: auto;
}
a {
    text-decoration: none;
	color:black;
	font-weight: bold;
	color:white;
}
#prof {
	display: none;
}

.upload-img {
	margin: 0 auto;
	width: 200px;
	display: block;
	cursor: pointer;
}
.upload-text {
	color: white;
	margin-top: 20px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}
.prof-btn {
	height: 42px;
	border-radius: 8px;
	border: 1px solid #707070;
	font-size: inherit;
	font-weight: bold;
	margin: 24px auto 12px auto;
	color: #2c2c2c;
	background-color: #ffffff;
	transition: 0.2s ease-out;
	cursor: pointer;
	padding: 0 38px;
}
/* img.landing-img {
    width: 500px;
    margin-top: 10%;
} */
header.header {
    background-color: #2C2C2C;
}
.text-part {
    background-color: #5D5B5B;
	text-align: center;
}
.content .landingpage .text-part {
    text-align: center;
}
.signin {
    color: white;
    margin-left: 80%;
    top: 3%;
    position: absolute;
}
span.first-text {
    font-size: 40px;
    font-weight: bold;
    width: 55%;
    color: white;
}

section.Dashboard-1 {
    width: 85%;
    padding: 0 48px 48px 48px;
    background-color: black;
	text-align: center;
}

.dashboard-1 {
    color: white;
    font-size: 35px;
    margin-top: 1%;
}

.dashboard-txt {
    font-size: 32px;
    margin-top: 5%;
    font-weight: lighter;
	color:white;
}

.Dash-btn {
    height: 42px;
    border-radius: 8px;
    border: 1px solid #707070;
    font-size: inherit;
    font-weight: bold;
    margin: 24px auto 12px auto;
    color: #2c2c2c;
    background-color: #ffffff;
    transition: 0.2s ease-out;
    cursor: pointer;
    padding: 0 38px;
    align-items: center;
}

.monthly-chart-inner {
    margin-left: 64%;
    margin-top: -56%;
}
span.sec-text {
    font-size: 24px;
    color: white;
}
.sign-up-btn a {
    text-decoration: none;
    color: black;
	font-weight: bold;
}
.sign-up-btn {
    height: 42px;
    border-radius: 8px;
    border: 1px solid #707070;
    font-size: inherit;
    font-weight: bold;
    margin: 24px auto 12px auto;
    color:black;
    background-color: #ffffff;
    transition: 0.2s ease-out;
    cursor: pointer;
    padding: 0 38px;
}

.input-pswd::after {
    content: "";
    position: absolute;
    height: 1px;
    background: #ffffff80;
    width: 21%;
    left: 16%;
    transform: translateX(-50%);
}

.Transaction-details {
	color: white;
	display: flex;
}
.transaction-details {
	font-size: 30px;
	margin-top: 15%;
	color: white;
}
.trans-btn {
	border: 0;
	border-radius: 5%;
	display: flex;
	margin-top: 4%;
	margin-left: 55%;
}

.trans-add {
	margin: 7px;
	position: relative;
	font-size: 25px;
}
.trans-btn a img {
	width: 25px;
	margin-top: 20%;
}
.trans-table {
	background-color: #707070;
	border: 1px #707070;
	border-radius: 2%;
	margin-top: 8%;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	color: white;
}
td,
th {
	border-bottom: 1px solid #dddddd;
	text-align: left;
	padding: 20px;
}
#income {
	color: #2ac926;
}
#expense {
	color: #ff0000;
}

.menu-trans {
	position: fixed;
	background-color:#2c2c2c;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.add-popup {
	position: absolute;
	background-color: black;
	border-radius: 10px;
	padding: 10px 20px;
	left: 40%;
	list-style: none;
	margin-top: 10%;
}
.add-img {
	width: 25px;
	margin-left: 95%;
}
.budget-drop {
	padding: 10px;
	font-size: 18px;
	margin-top: 10%;
	width: 50%;
}
.cost-date {
	display: flex;
	margin-top: 10%;
}
.add-input {
	margin-top: 10%;
	margin-left: -10%;
	margin-right: 10%;
	border-radius: 0.5rem;
	border: 1px solid;
	outline: none;
	height: 3rem;
	padding: 0 1rem;
}
.trans-add-btn {
	font-size: 25px;
	margin-top: 10%;
	border: 0;
	border-radius: 5px;
	margin-bottom: 5%;
}
#add-label {
	color: white;
}

.menu-container .menu-cancel {
	position: absolute;
	display: flex;
	z-index: 1;
	top: 5px;
	right: -35%;
	width: 10px;
	height: 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.menu-cancel a img {
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
}
.menu-container {
	position: fixed;
	background-color: #2c2c2c;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.user-menu {
	position: absolute;
	background-color: black;
	width: 256px;
	border-radius: 12px;
	padding: 10px 20px !important;
	border: 1px solid #ffffff;
	left: 76%;
	list-style: none;
	margin-top: 0%;
}
a #user-menu-img {
	float: right;
	margin-top: -7%;
	margin-left: 90%;
	width: 10%;
}
.user-menu .profile-highlight {
	display: flex;
	margin-bottom: 11px;
	color: white;
	margin-top: -7%;
}
.user-menu .profile-highlight img {
	width: 48px;
	height: 48px;
	border-radius: 25px;
	object-fit: cover;
}
.user-menu .profile-highlight .details {
	margin-left: 20%;
    position: relative;
    margin-top: -55%;
}
.user-menu .profile-highlight .details #profile-name {
	font-weight: 600;
	font-size: 16px;
}
.user-menu .profile-highlight .details #profile-footer {
	font-weight: 300;
	font-size: 14px;
	margin-top: 4px;
}

.user-menu a {
	display: flex;
	text-decoration: none;
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding: 10px 4px;
	width: 100%;
}
.user-menu .footer {
	border-top: 1px solid #e0e0e0;
	margin-top: 8px;
}

/*............Responsive.............*/
@media screen and (max-width: 1024px) {
	.signin a {
		top: 1%;
	}
	.signup a {
		top: 1%;
	}
	.form-container {
		width: 35%;
	}
}

/*...............responsive...........*/

@media screen and (max-width: 1024px) {
	.signin {
		top: 1%;
	}
	.signup {
		top: 1%;
	}
	.content .landingpage {
		left: 3%;
	}
	.landing-img {
		position: relative;
		width: 800px;
		right: 20px;
		top: 214px;
	}
}
h1 {
    color: white;
}